@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 250px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: #eee;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  .todo-list .header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    background: #25b99a;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3);
    padding: 1em;
  }
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  .todo-list .header .header__input {
    width: 100%;
    height: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 5px 25px 25px 5px;
    padding: 0.7em 1.2em;
    font-size: 1.2rem;
    color: white;
  }
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .todo-list .header .header__button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    z-index: 2;
    border: none;
    border-radius: 25px;
    background: white;
    font-size: 1.3rem;
    text-align: center;
    color: #25b99a;
    cursor: pointer;
  }
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
  .todo-list main {
    margin-top: 78px;
    background: #eee;
  }
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
  .todo-list hr {
    width: 50%;
    color: rgba(50, 50, 50, 0.2);
  }
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  .todo-list .list {
    padding: 1em;
    margin: 0;
  }
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  .todo-list .list .list__item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1em;
    margin: 1em 0;
    font-size: 1.3em;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px rgba(50, 50, 50, 0.2);
    border-radius: 3px;
  }
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  .todo-list .list .list__buttons {
    font-size: 1.3rem;
  }
}

.close:hover {
  background-color: #f44336;
  color: white;
  .todo-list .list .list__button {
    text-align: center;
    width: 50px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .todo-list .list .fa-trash-o {
    color: rgba(50, 50, 50, 0.5);
  }
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
  .todo-list .list .list__bar {
    color: rgba(50, 50, 50, 0.3);
    font-size: 1.5rem;
  }
}

/* Clear floats after the header */
.header:after {
  content: '';
  display: table;
  clear: both;
  .todo-list .list.current-list .fa-check-circle-o {
    color: #25b99a;
  }
}
/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  .todo-list .list.done-list .list__item {
    opacity: 0.6;
  }
}
/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  .todo-list .list.done-list .list__item .list__item-name {
    text-decoration: line-through;
  }
}
.addBtn:hover {
  background-color: #bbb;
  .todo-list .list.done-list .fa-check-circle {
    color: #25b99a;
  }
}
